@tailwind base;

*::-webkit-scrollbar {
	width: 0.2em;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

@layer base {
	p {
		@apply text-[0.9rem] font-jost font-[400];
	}
	a {
		@apply text-[0.9rem] font-exo font-[600] text-secondary-light;
	}
	h1 {
		@apply font-exo font-[600]  text-2xl;
	}
	h2 {
		@apply font-exo font-[400];
	}
	h3 {
		@apply font-exo font-[300];
	}
}

.badge {
	@apply rounded-full border-none p-2 text-white absolute top-2 left-2 bg-black;
}
.layoutWidth {
	@apply w-11/12 sm:w-9/12 md:w-11/12 xl:w-9/12 mx-auto;
}
.searchInput {
	@apply border-t-0 border-r-0 border-l-0 border-2 outline-none px-2 border-black;
}

.btnStyle {
	@apply border text-black p-2 rounded-full hover:text-effect-hover hover:border-effect-hover active:bg-effect-active active:text-white;
}
/* body { */
/* font-family: Exo, 'Helvetica Neue', Helvetica, sans-serif; */
/* background-color: #deefe7; */
/* background-color: #d5e2f2; */
/* } */

/* .test {
	background-color: red;
	font-family: 'Exo';
} */
